    {{funcion}} Renta Película
{% endblock %}

{% block contenido %}

    <div class="row">
  		<div class="col-md-6">

			<h1>{{funcion}} Renta Película</h1>
                <form action="" method="POST">

                    {% for field in form.visible_fields %}
			        <div class="form-group">

			                {% if field.errors %}<div class="alert alert-danger" role="alert">{{ field.errors.as_text }}</div>{% endif %}

			        </div>
			    {% endfor %}

                     {{form.as_p}}
                    {% csrf_token %}

                <button type="submit"  name="enviarPelicula" class="btn btn-primary btn-lg">{{funcion}}
                Renta Película</button>

                </form>
		</div>
    </div>

{% endblock%}